.header{
    box-shadow: 2px 2px 2px grey;
     width: 100%;
}
.link {
    display: inline-flex;
    padding: 8px;
    text-decoration: none;
    color: black;
  }
  
  .link:hover {
   text-decoration: underline;
  }
  
  .active {
    color: lightcoral;
  }